# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
node_modules/
*.lock

srcUi/node_modules
srcUi/.pnp
srcUi/.pnp.js

# testing
srcUi/coverage

# production
srcUi/build

# misc
srcUi/.DS_Store
srcUi/.env.local
srcUi/.env.development.local
srcUi/.env.test.local
srcUi/.env.production.local

srcUi/npm-debug.log*
srcUi/yarn-debug.log*
srcUi/yarn-error.log*

*-lock.json


# Script
src/nui