@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;300;500;700;900&display=swap");

html,
body,
#app {
	height: 100%;
	width: 100%;
}

body {
	font-family: "Inter", sans-serif;
	background: theme("colors.dark.5");
	user-select: none;
	overflow: auto;
	scroll-behavior: smooth;
}

*::-webkit-scrollbar {
	width: 4px;
}

*::-webkit-scrollbar-track {
	background: transparent;
}

*::-webkit-scrollbar-thumb {
	background-color: rgba(160, 160, 160, .1);
	border-radius: 10px;
}

svg {
	outline: none;
}
