@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;300;500;700;900&display=swap");

/* html,
body,
#app {
	height: 100%;
	width: 100%;
} */

body {
	transform: perspective(1px) translateZ(0);
	backface-visibility: hidden;
	-webkit-font-smoothing: subpixel-antialiased;
}

#app {
	height: 100%;
	width: 100%;
	font-family: "Inter", sans-serif;
	user-select: none;
	background: theme("colors.gray.300");
	color: theme("colors.black");
	overflow: auto;
	scroll-behavior: smooth;
}

.dark #app {
	background: theme("colors.dark.5");
	color: theme("colors.white");
}

*::-webkit-scrollbar {
	width: 4px;
}

*::-webkit-scrollbar-track {
	background: transparent;
}

*::-webkit-scrollbar-thumb {
	background-color: rgba(160, 160, 160, .1);
	border-radius: 10px;
}

svg {
	outline: none;
}
